<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class="banner">Stupid Coaching</h1>
    <p>Ask your coach anything:</p>

    <%= yield %>
    <br>
    <a class="footer"> <%= link_to'Ask a new question', ask_path %> </a>
  </body>
</html>
